<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</style>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12">
  <br/>
  <br/>
   <form class="navbar-form navbar-top" method=post action="">
    {{ form1.hidden_tag() }}
          <div class="row">
            <div class="input-group">
              <label class="control-label">
                   {{ form1.imgurl.label }} 
                </label><br />
                {{ form1.imgurl(**{"onchange":"this.form.submit()"}) }} 
            </div>
          </div> <br />
    </form>
  </div>

  <div class="col-sm-12">

   <form class="navbar-form navbar-top" method=post action="">
          {{ form2.hidden_tag() }}
          <div class="row">
            <div class="input-group">
              <label class="control-label">
                   {{ form2.imageset.label }} 
                </label><br />
                {{ form2.imageset(**{"onclick":"(this).closest('form').submit()"}) }} 
            </div>
          </div> <br />
    </form>
  </div>

  <div class="col-sm-12" align="center">
    {% if results|length > 0 %}
        <a href = {{ results['link'] }} ><img src={{ results['url'] }} style= "max-width:400px"></a>
        <h3>{{ results['name'] }}</h3>
        Confidence: {{ results['confidence'] }}
        <br /><br />
         <form  method=post action="">
          {{ form3.hidden_tag() }}
          <div class="row">
            <div class="input-group">
                {{ form3.cycle}} 
            </div>
          </div> <br />
    </form>
    {% endif %}
  </div>

</div>
</div>

</html>